//.../// COLORS ///...//
$off-white: #a5afd7;
$matte-black: #20222b;
$light-blue: #464b5e;
$dark-blue: #333745;
$blue: #3c4251;
$purple: #8357c5;

//.../// SIZES ///...//
$size-s: 1.2rem;
$size-m: 1.6rem;
$size-l: 3.2rem;
$size-xl: 4.8rem;
$small-phones-breakpoint: 21.5rem;
$medium-phones-breakpoint: 43rem;